/.editorconfig export-ignore
/.gitignore export-ignore
/.stylelintrc.json export-ignore
/assets export-ignore
/biome.json export-ignore
/depcheck.php export-ignore
/docs export-ignore
/ecs.php export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/webpack.config.js export-ignore
