.simple_column_wizard {
    width: unset;
    max-width: unset;

    .tl_select {
        min-width: 60px;
    }

    .tl_checkbox_single_container  {
        margin: 0;

        label {
            margin: 0;
            font-weight: 300;
        }
    }
}

.scw-drag-handle {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
